1. Display numbers from -10 to -1 using for loop

In [15]:
for num in range(-10,0):
    print (num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

2. Given a number count the total number of digits in a number, for example, the number is 75869, so the output should be 5

In [5]:
num =int(input("Entrez un nombre :"))
print(len(str(num)))

Entrez un nombre :75869
5

3. Write a function which Displays the cube of the number up to a given integer, for example the number is 2 the cube should be 8

In [11]:
def cube_number(num,p):
    if num != 0 :
        print("the cube of the number is: ", num**p)
cube_number(2,3)

the cube of the number is:  8

4. Given two integer numbers return their product. If the product is greater than 1000, then return their sum

In [17]:
def my_function(a,b):
    if a*b>1000:
        print("The sum of the two integer numbers is", a+b)
    else:
        print("The product of the two integer numbers is", a*b)
my_function(2000,10)

The sum of the two integer numbers is 2010

5. Given a list of numbers, return True if first and last number of a list is same

In [27]:
def my_list(L):
    if L[0] == L[-1]:
        print("true")
    else:
        print("false")
my_list([2,5,9,2,4,87,47,100,2])

true

6. Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list, for example list1 =  [10, 20, 23, 11, 17] and list 2 = [13, 43, 24, 36, 12]  => result should be [23, 11, 17, 24, 36, 12]

In [33]:
def list(A,B):
    C=[]
    for x in A:
        if x % 2 !=0:
            C+=[x]
    for x in B:
        if x % 2 ==0:
            C+=[x]
    print(C)
list([10, 20, 23, 11, 17] , [13, 43, 24, 36, 12] )

[23, 11, 17, 24, 36, 12]

7. Write a function which Iterates a given list and counts the occurrence of each element and creates a dictionary to show the count of each element, for example: input list  [11, 45, 8, 11, 23, 45, 23, 45, 89]=> result should be {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [36]:
def Occurrence(L):
    D= {}
    for i in L:
        if i in D:
            D[i] +=1
        else:
            D[i] =1
    return D
l=[11, 45, 8, 11, 23, 45, 23, 45, 89]
print(Occurrence(l))

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

8. Write a function which finds the intersection of two sets and removes common elements from the first set. for example: First Set  {65, 42, 78, 83, 23, 57, 29} and Second Set  {67, 73, 43, 48, 83, 57, 29} => Intersection should be  {57, 83, 29} and First Set after removing common element  {65, 42, 78, 23}

In [53]:
def intersection_two_sets(A,B):
    C= set()
    D= set()
    for i in A:
        if i in B:
            C.add(i)
        else:
            D.add(i)
    return print("The intersection of two sets is:", C, "First Set after removing common element :",D)
A={65, 42, 78, 83, 23, 57, 29}
B={67, 73, 43, 48, 83, 57, 29}
intersection_two_sets(A,B)

The intersection of two sets is: {57, 83, 29} First Set after removing common element : {65, 42, 78, 23}