# Step 1: Load the Data

Download the "adult.csv" file from the Adult Income dataset.
Use pandas to read the file into a dataframe.

In [1]:
import pandas as pd
data = pd.read_csv("adult.csv",sep = ",")
data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
data.to_excel('adult.xlsx')

# Step 2: Data Exploration with Pandas Profiling

Use pandas profiling to explore the dataset. You can use the pandas_profiling.ProfileReport() method to create a report on the dataset.

In [4]:
import pandas as pd
import ydata_profiling as pp

In [5]:
data = pd.read_csv("adult.csv",sep = ",")
profile = pp.ProfileReport(data, title='Pandas Profiling Report')
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

Look for missing values in the dataset. You can use the report generated by pandas profiling to identify missing values.

There are no missing values in the dataset.

Examine the correlations between different columns in the dataset. You can use the report generated by pandas profiling to identify correlations.

educational-num is highly overall correlated with education.
relationship is highly overall correlated with gender.

Identify any other interesting patterns or insights in the dataset that you can discover through the pandas profiling report.

race is highly imbalanced (65.8%)
native-country is highly imbalanced (82.7%)
capital-gain has 44807 (91.7%) zeros
capital-loss has 46560 (95.3%) zeros

# Step 3: Summary

Write a summary of your findings based on the pandas profiling report. Be sure to include any interesting patterns or insights you discovered in the dataset.

1-There are 48842 rows and 15 columns.
2-There are no missing values in the dataset.
3-There are positive and negative correlations between different variables, some stronger than others.
4-Upon closer examination of the correlations, one can notice that the "educational-num" variable is strongly correlated with the "education" variable, suggesting that education could be an important factor in predicting educational-num, and the "relationship" variable is strongly correlated with the "gender" variable, suggesting that gender could be an important factor in predicting relationship.