Question 1 : Écrire un programme Python qui accepte un entier (n) et calcule la valeur de n+nn+nnn
La valeur d'échantillon de n est 5 
Résultat Attendu : 615 (5+55+555)

In [27]:
x=5
sum = 0
for i in range(1,4):
    sum= int(str(x)*i)+ sum
print(sum)

615

Question 2 :
Écrivez un programme Python pour savoir si un nombre donné (accepté par l'utilisateur) est pair ou impair, imprimez un message approprié à l'utilisateur.

In [6]:
num = int(input("Entrez un nombre: "))
if num / 2 ==0:
    print("Le nombre donné est pair")
else :
    print("le nombre donné est impair")

Entrez un nombre: 15
le nombre donné est impair

Question 3:
Écrivez un programme qui trouvera tous ces nombres qui sont divisibles par 7 mais qui ne sont pas un multiple de 5, entre 2000 et 3200 (les deux inclus). Les nombres obtenus doivent être imprimés en séquence sur une seule ligne.

In [25]:
n=list(range(2000, 3201, 1))
l = []
for x in n:
    if x % 7 == 0 and x % 5 != 0:
        l.append(x)
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Question 4 :
Ecrire un programme capable de calculer la factorielle d'un nombre donné. Les résultats doivent être imprimés en séquence sur une seule ligne. Supposons que l'entrée suivante soit fournie au programme : 8 Alors, la sortie devrait être : 40320

In [29]:
def factorielle(n):
    if n == 0:
        return 1
    else:
        F = 1
        for k in range(2,n+1):
            F = F * k
        return F
factorielle(8)

40320

Question 5 :
Écrivez un programme pour supprimer les caractères qui ont des valeurs d'index impaires d'une chaîne donnée.
par exemple : string="hello team"
le résultat devrait être : hlota

In [34]:
x="hello team"
New=""
for i,l in enumerate(x):
    if i%2 == 0:
        New = New + l
New

'hlota'